# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# virtual environments
.venv/
venv/

# build
build/
dist/

# data pipeline outputs
data/raw_text/
data/staging_csv/
data/duckdb/

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
